.App
  text-align: center
  font-family: Arial, sans-serif

.App-header
  background-color: #223342
  min-height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  font-size: calc(8px + 1vmin)
  color: white

span
  color: #35ad89

.row
  width: 80%

.column
  float: left
  width: 50%

/* Clear floats

.row:after
  content: ""
  display: table
  clear: both


.component
  width: 100%

#StreetView
  height: 500px

#Map
  height: 500px

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other
@media screen and (max-width: 900px)
  .column
    width: 100%
  .row
    width: 100%
  #StreetView
    height: 250px
  #Map
    height: 250px

  
button
  background-color: #35ad89
  border: none
  color: white
  padding: 12px 24px
  font-size: 16px

/* Add a right margin to each icon
.fa
  margin-left: -12px
  margin-right: 8px

a
  color: white

a:hover, a:visited
  color: #35ad89

.small
  font-size: 85%